<div class="max-w-md mx-auto mt-10 bg-white shadow-lg rounded-lg p-6">
  <h2 class="text-x1 font-bold mb-6">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4" class="field">
      <%= f.label :email, class: "block font-medium text-gray-700" %><%# <br /> %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full mt-1 border-gray-300 rounded-md" %>
    </div>

    <div class="mb-4" class="field">
      <%= f.label :password, class: "block font-medium text-gray-700" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full mt-1 border-gray-300 rounded-md" %>
    </div>

    <div class="mb-4" class="field">
      <%= f.label :password_confirmation, class: "block font-medium text-gray-700"  %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full mt-1 border-gray-300 rounded-md" %>
    </div>

    <div class="mb-4" class="actions">
      <%= f.submit "Sign up", class: "w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
