<p style="color: green"><%= notice %></p>

<% content_for :title, "Availabilities" %>

<h2 class="text-x1 font-bold mb-4">Availabilities</h2>

<div class="grid grid-cols-2 md:grid-cols-3 gap-4" data-controller="calendar">
  <% @availabilities.each do |slot| %>
    <div class="bg-white shadow rounded-lg p-4 hover:bg-blue-100 transition cursor-pointer" data-calendar-target="slot" data-action="click->calendar#select">
      <p class="font-semibold text-gray-800">
        <%= slot.start_time.strftime("%A, %B %d") %>
      </p>
      <p class="text-gray-600">
        <% slot.start_time %> - <% slot.end_time %>
      </p>
      <p class="text-gray-600">
        <% slot.start_time.strftime("%I:%M %p") %> - <% slot.end_time.strftime("%I:%M %p") %>
      </p>
    </div>
  <% end %>
</div>

<div id="availabilities">
  <% @availabilities.each do |availability| %>
    <%= render availability %>
    <p>
      <%= link_to "Show this availability", availability %>
    </p>
  <% end %>
</div>

<%= link_to "New availability", new_availability_path %>
